body {
	background: #FFFFEE url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADICAIAAACmkByiAAAAXElEQVQokWP6d209EwMDAxJmZGJgZMAUQ+YzYhGD8Rlx6cGinii1jDjsxKKfHDXodhFlBgE9+ORR1GKazUi02YT8Q5x9JMsTHYYE1OBKRzjV4YsXdLtwpCvS0zYA7wsEfTvcT98AAAAASUVORK5CYII=') repeat-x 50% 0%;
	color: #800000;
	font-family: arial,helvetica,sans-serif;
}
hr {
	border: none;
	border-top: 1px solid #D9BFB7;
}

nav {
	background-color: #F0E0D6;
	border-bottom: 1px solid #BB8866;
	color: #BB8866;
	font-size: 12px;
	padding-top: 1px;
	padding-bottom: 1px;
}
