body {
	background: #FFFFEE url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADICAIAAACmkByiAAAAXElEQVQokWP6d209EwMDAxJmZGJgZMAUQ+YzYhGD8Rlx6cGinii1jDjsxKKfHDXodhFlBgE9+ORR1GKazUi02YT8Q5x9JMsTHYYE1OBKRzjV4YsXdLtwpCvS0zYA7wsEfTvcT98AAAAASUVORK5CYII=') repeat-x 50% 0%;
	color: #800000;
	font-family: arial,helvetica,sans-serif;
}
hr {
	border: none;
	border-top: 1px solid #D9BFB7;
}

a, .hideButton, .unhideButton, .embedButton, .navClickable, #closeWatcherMenuButton, .watchButton, .watchedCellCloseButton, .hideFileButton {
	color: #0000EE;
}
a:hover, .hideButton:hover, .unhideButton:hover, .embedButton:hover, .navClickable:hover, #closeWatcherMenuButton:hover, .watchButton:hover, .watchedCellCloseButton:hover, .hideFileButton:hover {
	color: #DD0000;
	text-shadow: none; /* gets rid of the stupid glow effect */
}

.boardHeader p {
	color: #800000;
	font-family: Tahoma,sans-serif;
}
.boardHeader p#labelName {
	font-size: 28px;
	font-weight: bold;
	letter-spacing: -2px;
}
.boardHeader p#labelDescription {
	font-size: 8pt;
}
#newPostFieldset, #quick-reply table {
	border: 1px dashed #D9BFB7;
}
#postingForm th, .modalTableBody th { /* descriptors */
	background: #EEAA88;
	border: 1px solid #800000;
	border-radius: 0px;
}
input, select, textarea { /* input boxes */
	background: #FFFFFF;
	border-radius: 0px;
	border: 1px solid #AAAAAA;
	color: #000000;
	font-family: arial,helvetica,sans-serif;
}
input:hover, select:hover, textarea:hover {
	border: 1px solid #EA8EA8;
}

input[type="button"], input[type="submit"], button {
	background: #d4d0c8;
	border-radius: 0px;
	color: #000000;
	font-family: arial,helvetica,sans-serif;
	font-weight: 400;
}
.dropzone, .selectedCell {
	background: #DADCE3;
	border: 2px dashed rgba(125, 125, 125, 0.4);
	border-radius: 0px;
	color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
	transition: 0.2s;
	text-align:center;
}
.subCaptchaDiv {
    text-align: center;
}

#divMessage {
	color: #FF0000;
	font-size: 13px;
	font-weight: bold;
}

.title, .unhideButton {
	font-weight: 400; /* makes timestamp not bold */
}
.labelSubject { /* subject */
	color: #CC1105;
	font-weight: bold; /* needed for catalog */
}
.linkName { /* email field, sage */
	font-weight: bold;
	color: #0000EE;
	text-decoration: underline;
}
.linkName:hover {
	color: #DD0000;
}
.noEmailName, .noEmailName:hover { /* regular anonymous */
	color: #117743;
	text-decoration: none;
	text-shadow: none;
}
.linkSelf, .linkQuote { /* post number */
	color: #800000;
}
.linkSelf:hover, .linkQuote:hover {
	color: #DD0000;
}
.panelBacklinks a { /* backlinks */
	color: #000080;
}
.panelBacklinks a:hover {
	color: #DD0000;
}
.quoteLink { /* >> */
	color: #000080;
	text-decoration: underline;
}
.quoteLink:hover {
	color: #DD0000;
	text-decoration: underline;
}
.labelRole:before { /* capcode prefix */
	font-size: 10px;
}
.labelOmission { /* posts omitted */
	color: #707070;
}
.labelLastEdit { /* edited post */
	font-size: 10px;
}
.labelId { /* id font */
	font-size: 12px;
}
.contentOmissionIndicator { /* message too long */
	color: #707070;
}

.innerPost, .sideCatalogCell {  /* normal reply */
	background-color: #F0E0D6;
	border: 1px solid #D9BFB7;
	border-left: none;
	border-top: none;
	border-radius: 0px;
}
.markedPost, .sideCatalogMarkedCell { /* highlighted reply */
	background: #F0C0B0;
	border: 1px solid #D99F91;
	border-left: none;
	border-top: none;
	border-radius: 0px;
}
span.spoiler:hover { /* spoiler hover */
	background: #000000;
	color: #FFFFFF;
}

#quick-reply table {
	background-color: #F0E0D6;
	border: 1px solid #BB8866;
}
#quick-reply table {
	padding: 0em;
}
#quick-reply th {
	background-color: #EEAA88;
	border: 1px solid #880000;
}
.post-table td {
    padding-bottom: 0em;
}

nav {
	background-color: #F0E0D6;
	border-bottom: 1px solid #BB8866;
	color: #BB8866;
	font-size: 12px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.reportFieldset {
	border: 1px dashed #D9BFB7;
}

#catalogId {
	color: #800000;
}
.catalogCell {
	background: #F0E0D6;
	border: 1px solid #B7B9C4;
	border-radius: 0px;
}

/* BOARD LIST */
.boardPages {
    color: #8899AA;
}

/* FRONT PAGE */
#divLatestPosts .latestPostCell {
    background: #F0E0D6;
    border: 1px solid #D9BFB7;
}

/* WATCHED THREADS */
#watchedMenu {
    background: #F0E0D6;
    border: 1px dashed #BB8866;
}